---
import { Image, Picture } from "astro:assets";
import MainLayout from "src/Layouts/MainLayout.astro";


import post05 from '@images/post-05.png'
---
<MainLayout title="Imágenes"> 
    <h1 class="text-5xl">Imágenes</h1>

    <img 
    loading="eager"
    src="/assets/images/post-05.png" alt="" width="250" height="250">
    

    <Image  src={post05} alt="Imagen de post" width="250" height="250"/>
    <Image  src={post05} alt="Imagen de post" width="500" height="500"/>
    <Image  src={post05} alt="Imagen de post" width="500" height="500" quality="hight"/>
    <Image  src={post05} alt="Imagen de post" width="500" height="500" quality="hight" format="png"/>
    <Picture  src={post05} alt="Imagen de post" width="500" height="500" quality="hight" format="png"/>

    <div style={{
        height: '3000px'
    }}></div>

    <img
    loading="lazy"
    src="/assets/images/post-05.png" alt="" width="250" height="250">
</MainLayout>
